.profile{

    width: 100%;
}
.profile_header{
    display: flex;
}
.profile_header .header_right{
    margin-left: auto;
    margin-right: 0;
}

.buttonChangePass{
    color: #E74C3C;
    background-color: #fff;
    border: solid 1px #E74C3C;
    padding: 5px;
}
.buttonChangePass:hover{
    color: #fff;
    background-color: #E74C3C;
    border: solid 1px #fff;
}
.buttonEdit{
    color: #117A65;
    background-color: #fff;
    border: solid 1px #117A65;
    padding: 5px;
}
.buttonEdit:hover{
    color: #fff;
    background-color: #117A65;
    border: solid 1px #fff;
}
