.page-header{
    margin-bottom: 40px;
    text-transform: capitalize;
    display: flex;
  }
.card{
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    
}
.full-height{
    height: 100%;
}
.card.full-height{
    height: calc(100% - 30px);
}
.card__header{
    text-transform: capitalize;
    display: flex;
}
.card__header__right{
    
    position:relative;
    margin-left: auto; 
    margin-right: 0;
}
.card__header ~ .card__body {
    margin-top: 30px;
}
.card__footer{
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
}
.card__body{
    height: 100%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }